<div id="stage-1" *ngIf="this.categoryService.stage == 1">
  <div style="margin-left: 3rem">
    <h1 class="page-title">Hangi kategoride hizmet vermek istiyorsun?</h1>

    <p>Hadi, başlayalım. 😎 Yeteneğini sergilemek istediğin işin kategorisini belirle.

      Nasıl iş ilanı oluşturacağını merak mı ediyorsun? Haydi gel kısa bir video ile nasıl iş ilanı oluşturacağına bir
      göz
      atalım!</p>
  </div>

  <div class="categories" style="margin-left: 3rem">
    <app-category *ngFor="let category of categories; let i = index" [active]="category.active"
                  [freelancer]="category.freelancer" [title]="category.title"
                  [categoryImageUrl]="category.url" [style]="getStyle(category.id)"
                  (click)="setSelectedCategory(category)"></app-category>
  </div>
</div>

<div id="stage-2" *ngIf="this.categoryService.stage == 2">
  <div style="margin-left: 3rem">
    <h1 class="page-title">Biraz Daha Detay Alalım!</h1>
    <p>Peki, hizmet verdiğin uzmanlık alanı <span style="font-weight: 600">{{this.selectedCategory.title}}</span>
      kategorisinin hangi alanına giriyor?</p>
  </div>

  <div class="software-categories">
    <div class="category-container" *ngFor="let category of this.softCategories"
         (click)="setCurrentSoftCategory(category)"
         [class.soft-category-background-color]="category.id == this.selectedSoftCategory?.id">
      <p>{{category.title}}</p>
    </div>
  </div>
</div>

<div id="stage-3" class="job-posting-details" *ngIf="this.categoryService.stage == 3" style="margin-bottom: 50rem">
  <div style="margin-left: 3rem">
    <h1 class="page-title">Başlık ve Açıklama</h1>
    <p>Harika! Şimdi ilanını oluşturmaya başlayabilirsin. 🚀</p>
  </div>

  <form [formGroup]="this.jobPostingService.jobPostingForm" style="margin-top: 3rem; margin-left: 3rem">
    <h1 class="page-title">Etkileyici bir başlık bul!</h1>
    <p>
      Başlık "Ben... " ile başlayan bir cümle olmalı ve bir fiille bitmelidir. Başlığın sonunda herhangi bir noktalama
      işareti kullanmamalısın.</p>
    <div class="job-posting-title-container">
      <p style="margin-right: 10px; margin-left: 1rem">Ben,</p>
      <input formControlName="title" class="job-posting-title" placeholder=" uzman olduğum bir konuda..."/>
    </div>

    <h1 class="page-title">Yapacağın işin detaylarını minimum 150 karakterle açıkla</h1>
    <div class="job-posting-title-container">
      <textarea formControlName="description" style="resize: vertical; margin-left: 1rem" class="job-posting-title"
                placeholder="Minimum 150 karakterden oluşacak şekilde yapacağın detaylarını anlatır mısın?"></textarea>
    </div>

    <h1 class="page-title">Siparişe başlaman için gerekenler</h1>
    <div class="job-posting-title-container">
      <textarea formControlName="requirements" style="resize: vertical; margin-left: 1rem" class="job-posting-title"
                placeholder="Siparişe hemen başlamak için ihtiyacın olacakları yazar mısın?"></textarea>
    </div>

    <h1 class="page-title">Proje için istediğin ücret</h1>
    <div class="job-posting-title-container">
      <input formControlName="price" style="margin-left: 1rem" class="job-posting-title" placeholder="Ücretinizi buraya girebilirsiniz." type="number"/>
    </div>

    <div style="height: 5rem">

    </div>
  </form>
</div>
