<div class="container">
  <h1>Let's Create A Special Client Request!</h1>

  <h2 class="page-title">Find an impressive title!</h2>
  <p>
    The title should be a sentence that starts with "Ben... " and ends with a
    verb. You should not use any punctuation in the end of the sentence.
  </p>
  <div class="client-request-title-container">
    <input
      class="client-request-title"
      placeholder="Find an impressive title!"
    />
  </div>

  <h2 class="page-title">Describe What You Need</h2>
  <div class="client-request-title-container">
    <textarea
      formControlName="requirements"
      style="resize: vertical"
      class="client-request-title"
      placeholder="Can You write what You need to get started?"
    ></textarea>
  </div>
</div>
