<div class="card">
  <img class="image" src="https://raw.githubusercontent.com/angular/angular/main/aio/src/assets/images/logos/angular/angular.png"/>

  <div class="title">
    <h1>Cranberry</h1>
    <p>5000TL</p>
  </div>

  <div class="description">
    <p>Ben, mobil ve web uygulama geliştiririm</p>
  </div>

  <div class="tool-bar">
    <i class="bi bi-coin"></i>
    <i class="bi bi-eye-slash"></i>
    <i class="bi bi-trash2-fill"></i>
    <i class="bi bi-pen-fill"></i>
  </div>

  <div class="current-state">
    <p>Yayında</p>
  </div>
</div>
