<div class="card">
  <img class="image" src="https://images.squarespace-cdn.com/content/v1/555b7fd5e4b0c7c58cfd6cf4/1459869684053-HJP30KCVRL6QHTMDMA84/c-img.png?format=1500w"/>

  <div class="card-content">
    <div class="title">
      <h1>Cranberry</h1>
      <p>{{this.price | currency}}</p>
    </div>

    <div class="description">
      <p>{{this.description}}</p>
    </div>
  </div>

  <div class="tool-bar">
    <i class="bi bi-coin"></i>
    <i class="bi bi-eye-slash"></i>
    <i class="bi bi-trash2-fill"></i>
    <i class="bi bi-pen-fill"></i>
  </div>

  <div class="current-state">
    <p>Yayında</p>
  </div>
</div>
