<nav class="nav-container">
  <h1 class="nav-title" routerLink = "/">HRMS</h1>
  <div class="search-container">
    <i class="bi bi-search"></i>
    <input placeholder="Arama yap..." class="nav-search"/>
  </div>
  <div class="nav-end" *ngIf="!authService.isAuthenticated()">
    <button class="nav-login" [routerLink]="['/auth/login']">Giriş</button>
    <button class="nav-register" [routerLink]="['/auth/register']">Kaydol</button>
  </div>
  <div class="nav-end" style="align-items: center" *ngIf="authService.isAuthenticated()">
    <p class="email">{{this.getUserDetail()}}</p>
    <button class="nav-register" (click)="logout()">Logout</button>
  </div>
</nav>

<!--<div class="nav-categories">
  <ul class="nav-items">
    <li class="nav-item"><a>Grafik & Tasarım</a></li>
    <li class="nav-item"><a>İnternet Reklamcılığı</a></li>
    <li class="nav-item"><a>Yazı & Çeviri</a></li>
    <li class="nav-item"><a>Video & Animasyon</a></li>
    <li class="nav-item"><a>Ses & Müzik</a></li>
    <li class="nav-item"><a>Yazılım & Teknoloji</a></li>
    <li class="nav-item"><a>İş ve Yönetim</a></li>
  </ul>
</div>-->
