<div style="margin-top: 3rem; margin-left: 3rem; padding-bottom: 2rem;">
  <h1 style="font-weight: 300">
    <span style="font-weight: 600">Client Requests</span> Suitable for Me
  </h1>
  <div style="display: flex; flex-direction: row">
    <div
      class="part-one"
      style="
        width: 422px;
        height: 100px;
        text-align: center;
        background-color: white;
        color: black;
        display: flex;
        justify-content: center;
        align-items: center;
      "
    >
      Show All Client Requests
    </div>
    <div
      class="part-two"
      style="
        opacity: 0.6;
        width: 422px;
        height: 100px;
        text-align: center;
        background-color: white;
        color: black;
        display: flex;
        justify-content: center;
        align-items: center;
      "
    >
      Show Only Requests I Made an Offer
    </div>
  </div>

  <div *ngIf="clientRequests">
    <app-client-request
      *ngFor="let request of clientRequests"
      [clientRequest]="request"
    >
    </app-client-request>
  </div>
</div>
