<div style="margin-top: 3rem; margin-left: 3rem; padding-bottom: 2rem">
  <h1 style="font-weight: 300">
    <span style="font-weight: 600">Client Requests</span> Suitable for Me
  </h1>
  <div style="display: flex; flex-direction: row">
    <div
      [ngClass]="getClassOne()"
      (click)="
        getClientRequests(); this.showClientRequestsUserMadeAnOffer = false
      "
    >
      Show All Client Requests
    </div>
    <div
      [ngClass]="getClassTwo()"
      (click)="
        getRequestsUserMadeAnOffer();
        this.showClientRequestsUserMadeAnOffer = true
      "
    >
      Show Only Requests I Made an Offer
    </div>
  </div>

  <div *ngIf="clientRequests">
    <app-client-request
      *ngFor="let request of clientRequests"
      [clientRequest]="request"
      [showClientRequestsUserMadeAnOffer]="showClientRequestsUserMadeAnOffer"
    >
    </app-client-request>
  </div>
</div>
