<div class="container">
  <div>
    <app-sidebar></app-sidebar>
  </div>
  <div style="max-width: 892px">
    <router-outlet></router-outlet>
  </div>
</div>

<div class="form-footer">
  <div class="form-footer-content">
    <div class="form-footer-description">
      <p style="font-size: 0.8rem; font-weight: 600">Adım {{this.categoryService.stage}} / 5</p>
      <p>Kategori Seçimi</p>
    </div>
    <div *ngIf="!this.categoryService.selectedCategory" class="form-footer-category">
      Kategori
    </div>
    <div class="form-footer-category">
      <p>{{this.categoryService.selectedCategory?.title}}</p>
    </div>
  </div>
  <button class="button" [style]="getStyle()" (click)="nextStage()">Devam Et</button>
</div>
