.card {
  border-radius: 10px;
  white-space: nowrap;
  cursor: pointer;
  padding: 1rem 1rem 0rem;
}

.card img{
  height: 70px;
  width: 70px;
}

.card-content{
  padding-top: 1rem;
  border-radius: 10px;
}

.card-content-title{
  font-weight: 600;
  border-radius: 10px;
  font-size: 0.8rem;
}

.card-content-active-jobs{
  font-size: 0.7rem;
  opacity: 0.7;
}

.card-content-freelancer{
  margin-top: 10px;
  font-size: 0.7rem;
  opacity: 0.7;
}

span{
  font-weight: 600;
}
