<ul class="side-menu" style="margin-top: 3rem;">
  <li class="side-menu-item"><i class="bi bi-people"
                                style="margin-right: 1rem; color: #F1D00A; font-size:15px"></i><span>Hrms</span></li>
  <li class="side-menu-item"><i class="bi bi-bag-fill"
                                style="margin-right: 1rem; color: #F1D00A; font-size:15px"></i><span>Siparişlerim</span>
  </li>
  <li class="side-menu-item"><i class="bi bi-star-fill"
                                style="margin-right: 1rem; color: #F1D00A; font-size:15px"></i><span>Özel Alıcı
                                İsteklerim</span></li>
  <li class="side-menu-item"><i class="bi bi-list-stars"
                                style="margin-right: 1rem; color: #F1D00A; font-size:15px"></i><span>Listelerim</span>
  </li>
  <li class="side-menu-item"><i class="bi bi-wallet-fill"
                                style="margin-right: 1rem; color: #F1D00A; font-size:15px"></i><span>Cüzdanım</span>
  </li>
</ul>

<h1 style="font-size: 0.9rem; margin-top: 3rem; margin-bottom: 1rem">FREELANCER</h1>

<ul class="side-menu">
  <li class="side-menu-item"><i class="bi bi-star-fill"
                                style="margin-right: 1rem; color: #F1D00A; font-size:15px"></i><span>Bana Uygun Alıcı
                                İstekleri</span></li>
  <li class="side-menu-item"><i class="bi bi-shop-window"
                                style="margin-right: 1rem; color: #F1D00A; font-size:15px"></i><span>Satışlarım</span>
  </li>
  <li class="side-menu-item"><i class="bi bi-file-earmark-break-fill"
                                style="margin-right: 1rem; color: #F1D00A; font-size:15px"></i><span>İlanlarım</span>
  </li>
  <li class="side-menu-item"><i class="bi bi-book-half"
                                style="margin-right: 1rem; color: #F1D00A; font-size:15px"></i><span>Portfolyom</span>
  </li>
  <li class="side-menu-item"><i class="bi bi-coin"
                                style="margin-right: 1rem; color: #F1D00A; font-size:15px"></i><span>bicoin
                                Hesabım</span></li>
</ul>
