<div style="margin-top: 3rem; margin-left: 3rem; width: 100%">
  <div class="header">
    <h1 style="font-weight: 300">
      <span style="font-weight: 600">My Job Adverts</span>
    </h1>
    <button class="create-new-job" [routerLink]="['/create-job-postings']">
      Create New Job Advert
    </button>
  </div>
  <p class="page-description">
    You can see all of your job advets, manage them and can create new job
    adverts here.
  </p>

  <div style="display: flex; justify-content: space-between">
    <select
      style="
        padding: 1rem;
        padding-right: 3rem;
        padding-left: 3rem;
        margin-top: 3rem;
        font-weight: 600;
      "
    >
      <option>Show All of My Job Adverts</option>
      <option>Show My Active Job Adverts</option>
    </select>

    <select style="padding: 1rem; margin-top: 3rem; font-weight: 600">
      <option>Active / Passive</option>
      <option>Activate All</option>
      <option>Deactive All</option>
    </select>
  </div>

  <div class="job-postings-container">
    <app-job-posting-card
      [description]="jobPosting.description"
      [price]="jobPosting.price"
      *ngFor="let jobPosting of jobPostings"
    ></app-job-posting-card>
  </div>
</div>
