.header{
  display: flex;
  justify-content: space-between;
}

.create-new-job{
  width: 11rem;
  text-align: center;
  height: 3rem;
  background-color: #D61C4E;
  border: 0px;
  color: white;
  margin-right: 0.5rem;
  cursor: pointer;
  font-weight: 600;
  white-space: nowrap;
}

.page-description{
  opacity: 0.7;
}

.job-postings-container{
  padding-top: 3rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1em;
  justify-content: space-between;
  justify-items: center;
  margin-bottom: 2rem;
}
